<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.superpichu.kernelmanager" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.superpichu.kernelmanager.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.superpichu.kernelmanager.CIFSMounts"
            android:label="@string/title_activity_cifsmounts"
            android:parentActivityName="org.superpichu.kernelmanager.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.superpichu.kernelmanager.MainActivity" />
        </activity>
        <activity
            android:name="org.superpichu.kernelmanager.AddMount"
            android:label="@string/title_activity_add_mount"
            android:parentActivityName="org.superpichu.kernelmanager.CIFSMounts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.superpichu.kernelmanager.CIFSMounts" />
        </activity>
        <activity
            android:name="org.superpichu.kernelmanager.EditMount"
            android:label="@string/title_activity_edit_mount"
            android:parentActivityName="org.superpichu.kernelmanager.CIFSMounts" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.superpichu.kernelmanager.CIFSMounts" />
        </activity>
    </application>

</manifest>
